<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap" rel="stylesheet"> 

<body style="min-height: 100vh; min-width: 100vw; height: 100%;" class="bg-dark">
  <h1 class="text-light text-center p-3">Connect 4</h1><!--<h2 class="text-light text-center pb-3">Deep Q-Learning Neural Network</h2>-->
  <div *ngIf="currentWin!=0">
    <h1 class="text-center display-3 text-info">{{currentWin>0?"You Win":"AI Wins"}}</h1>
  </div>
  <app-board (turnChanged)="onTurn($event)" [gridUpdate]="gridUpdate" [currentWin]="currentWin" [initGrid]="initGrid" [playerSide]="playerSide"></app-board>
  <h1 class="text-center pt-3 text-info">{{currentTurn?"Player's":"AI's"}} Turn</h1>
  <h2 class="text-center text-info">{{posts}}</h2>

  <div class="text-center">
    <button type="button" class="btn btn-primary text-center" (click)="clearSession()">Clear Session</button>
  </div>


</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
